body {
    font-family: 'Cambria', 'Cochin', serif;
    background-color: #CC99CC;
}

* {
    border-radius: 20px;
    margin: 20px auto;
    width: 500px;
    color: white;
    font-family: 'Cambria', 'Cochin', serif;
}

.title {
    background-color: #732489;
    font-weight: bold;
    text-align:center;
    font-size: 24px;
    padding: 3px;
}

.recipes {
    background-color: #ffebee;
    padding: 10px 5px;
}

button {
    background-color: #732489;
    display: block;
    font-size: 22px;
    width: 225px;
    margin: 20px auto;  
    padding: 7px;
    transition-duration: 0.3s;
    border: none;
}

button:hover {
    background-color: #411f69;
}

a {
    text-decoration: none;
}






