body {
    font-family: 'Courier New', 'Verdana', 'Times New Roman';
    background-color: #d9c8fa;
}

.title {
    width: 500px;
    margin: 0 auto;
    background-color: #732489;
    color: white;
    font-weight: bold;
    text-align:center;
    font-size: 24px;
    padding: 1px;
    border-radius: 20px;
}


ul {
    font-size: 22px;
}

a {
    font-family: Cambria, Cochin, serif;
}

a:link {
    color: #2f45a7;
}

a:hover {
    color: #7d2fa7;
}




