body {
    font-family: 'Courier New', 'Verdana', 'Times New Roman';
    background-color: #d9c8fa;
}

h1 {
    color: #1c195c;
    font-weight: bold;
    text-align:center;
    font-size: 48px;
}



